#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
        keymap {
                compatible = "zmk,keymap";
                default_layer {
// ---------------------------------------------------------------------------------
// |   `  |  1  |  2  |  3  |  4  |  5  |     |  6  |  7  |  8  |  9  |  0  | BKSP |
// |  TAB |  Q  |  W  |  E  |  R  |  T  |     |  Y  |  U  |  I  |  O  |  P  |  \   |
// | CAPS |  A  |  S  |  D  |  F  |  G  |     |  H  |  J  |  K  |  L  |  ;  |  ENT |
// | SHFT |  Z  |  X  |  C  |  V  |  B  |     |  N  |  M  |  ,  |  .  |  /  | APOS |
// | CTRL | ALT | GUI | SPC | SPC | SPC |     | SPC | LOW |LARW |DARW |UARW | RARW |
                        bindings = <
   &kp GRAVE  &kp N1    &kp N2    &kp N3     &kp N4     &kp N5    &kp ESC            &kp N6     &kp N7  &kp N8    &kp N9    &kp N0    &kp BSPC &none
   &kp TAB    &kp Q     &kp W     &kp E      &kp R      &kp T     &kp DEL            &kp CAPS &kp Y      &kp U   &kp I     &kp O     &kp P     &kp BSLH &none
   &kp CAPS   &kp A     &kp S     &kp D      &kp F      &kp G     &kp BACKSPACE      &kp CAPS &kp H      &kp J   &kp K     &kp L     &kp SEMI  &kp RET  &none
   &kp LSHFT  &mo 1     &kp X     &kp C      &kp V      &kp B     &none              &none &kp N      &kp M   &kp COMMA &kp DOT   &kp APOS  &kp APOS
   &kp N1     &kp N2    &kp N3    &kp N4     &kp ENTER     &kp SPACE &kp N7             &kp N1     &kp N2  &kp N3    &kp N4    &kp N5    &kp N6   &kp N7 
   &kp N1     &kp LCTRL    &kp CAPS    &kp LALT     &kp LGUI     &kp N6 &kp N7             &kp N1     &kp N2  &kp N3    &kp N4    &kp N5    &kp N6   &kp N7 
                        >;
                };
                num_layer {
                        bindings = <
   &kp L  &kp L    &kp L    &kp L     &kp L     &kp L    &kp L            &kp R     &kp R  &kp R    &kp R    &kp R    &kp R &kp R
   &kp L  &kp L    &kp L    &kp L     &kp L     &kp L    &kp L            &kp R     &kp R  &kp R    &kp R    &kp R    &kp R &kp R
   &kp L  &kp N1    &kp N2    &kp N3     &kp N4     &kp N5    &kp L            &kp N6     &kp N7  &kp N8    &kp N9    &kp N0    &kp R &kp R
   &kp L  &kp L    &kp L    &kp L     &kp L     &kp L    &kp L            &kp R     &kp R  &kp R    &kp R    &kp R    &kp R &kp R
   &kp L  &kp L    &kp L    &kp L     &kp L     &kp L    &kp L            &kp R     &kp R  &kp R    &kp R    &kp R    &kp R &kp R
   &kp L  &kp L    &kp L    &kp L     &kp L     &kp L    &kp L            &kp R     &kp R  &kp R    &kp R    &kp R    &kp R &kp R
                        >;
                };
        };
};